<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75037196994-6pvsldcanmcfs9hd48l13ck7tjq7f9ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75037196994-6pvsldcanmcfs9hd48l13ck7tjq7f9ke</string>
	<key>API_KEY</key>
	<string>AIzaSyBekgIwgz5lSqTfU_hiS-e3ZD6R6yz96QE</string>
	<key>GCM_SENDER_ID</key>
	<string>75037196994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTraining</string>
	<key>PROJECT_ID</key>
	<string>fir-memo-app-d448a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-memo-app-d448a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75037196994:ios:39c31b10cf267fc92c715b</string>
</dict>
</plist>